body,
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather', serif;
	color: #666;
}

a {
	text-decoration: none;
}

ul, ol {
	list-style-position: inside;
	margin-left: 0;
}

legend {
	font-size: 0.75em;
	color: #999;
	text-transform: uppercase;
}

.forms label {
	color: #999;
	text-transform: uppercase;
	font-size: 0.75em;
}

.outer {
	background-color: #333;
	color: #fff;
}

.login {
	text-align: center;
	padding: 100px 0;
}

.login a {
	color: #fff;
	text-decoration: none;
}

.logo {
	margin-bottom: 30px;
}

.login-button {
	background: black;
	padding: 20px 0;
	display: block;
	width: 100%;
	border-radius: 5px;
}

.login-button img {
	max-width: 30px;
	margin-right: 10px;
}

.wrap {
	max-width: 1024px;
	margin: 0 auto;
}

/* Header */

header {
	background: #1d508d;
	padding: 5px 0;
	color: #fff;
}

.site-title {
	display: inline-block;
	float: left;
	margin-right: 20px;
}

.primary-nav {
	margin-bottom: 0;
}

.primary-nav a:hover,
.primary-nav a {
	color: #bccee3;
	text-transform: uppercase;
	font-size: 0.75em;
}

.primary-nav a:hover {
	opacity: 0.6;
	text-decoration: underline;
}

/* Main */

.main {
	/*padding: 20px 40px;*/
}

.add-phones label {
	margin: 0 !important;
	padding: 0;
}

.add-links,
.add-phones {
	max-width: 600px;
}

.user-links .url {
	color: #999;
}

.user-phones ul,
.user-links ul {
	list-style: none;
	margin-left: 10px;
}

.forms label .error {
	font-size: 0.625em;
}

.nav-tabs li.active a,
.nav-tabs span,
.nav-tabs li a:hover {
	background: #EEF4FC;
	border-color: #EEF4FC;
	color: #184377;
	text-decoration: none;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs a {
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 400;
}

.picker select {
	display: inline-block !important;
}

.picker,
.picker__table td,
.picker__table th {
	border: none;
	text-align: center;
	font-size: 14px;
}

.jconfirm.white .jconfirm-box {
	min-width: 250px;
	max-width: 400px;
	margin: 0 auto;
	font-size: 12px;
}

.jconfirm .jconfirm-box div.title {
	font-size: 14px;
	text-transform: uppercase;
}

.jconfirm.white .jconfirm-box .buttons button {
	font-size: 10px;
}

.jconfirm.white .jconfirm-box .buttons button.btn-outline {
	color: #333;
}

/* Profile page */

.profile .profile-head {
	background: #f1f1f1;
	color: #999;
	font-size: 0.75em;
}

.profile .profile-picture {
	margin-right: 15px;
}

.profile .profile-picture img {
	width: 150px;
}

.profile h1 {
	color: #000;
	font-weight: 200;
}

.profile .info {
	margin-left: 165px;
}

.profile .basic-info,
.profile .secondary-info {
	padding: 15px 0;
}

.profile .full-designation,
.profile .follow {
	text-transform: uppercase;
	font-size: 12px;
}

.profile .primary-email span,
.profile .personal-email span {
	color: #1d508d;
	margin-left: 5px;
}
