<!DOCTYPE html>
<html>
<head>
    <title>{% block title%}Colleagues Connect{% endblock %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

		{% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/kube.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400italic,400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static "js/kube.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>

</head>
<body class="outer">
	{% block content %}{% endblock %}
</body>
</html>
