<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Colleagues Connect{% endblock %}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/kube.min.css" %}" />
	<link rel="stylesheet" href="{% static "css/jquery-confirm.min.css" %}" />
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400italic,400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{% static "js/jquery-confirm.min.js" %}"></script>
	<script src="{% static "js/kube.min.js" %}"></script>
	{% block header %}{% endblock %}

	<script src="{% static "js/custom.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body class="{% block body-class %}{% endblock %}" onload="{% block body-load %}{% endblock %}">
	<header class="units-row end">
		<div class="wrap">
			<div class="site-title">
				CC
			</div>
			<nav class="primary-nav navbar nav-fullwidth">
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/edit_profile">Edit</a></li>
					<li><a href="/logout">logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="main">
		<div class="wrap">
			{% block content %}{% endblock %}
		</div>
	</div>
</body>
</html>
